$color-primary: #fff;
$color-secondary: #000;
$color-font: #333;
$color-font-black: #000;
$color-opacity-font: rgba(0, 0, 0, 0.6);
$color-border: #e8e8e8;
$color-background: #eaeaea;
$color-hover: #f78104;
$color-font-white: #fff;
