.widget__themename_about_widget.home,
.widget__themename_about_widget.sidebar {
  .about,
  .about-parallax,
  .about-social {
    font-family: "Montserrat", sans-serif;

    &__image {
      width: 300px;
      margin: 0 auto;
      height: 350px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 280px);
    }

    &__name {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      padding-top: 12px;
    }

    &__label {
      font-size: 13px;
      font-weight: 200;
      font-style: italic;
      padding-top: 3px;
      text-align: center;
      text-transform: capitalize;
    }

    &__desc {
      font-size: 14px;
      line-height: 1.5;
      padding: 16px 16px 0;
      color: #383838;
      text-align: center;
      font-weight: 400;
      max-width: 300px;
      margin: 0 auto;
    }

    &__autograph {
      font-size: 32px;
      font-family: "Monsieur La Doulaise", cursive;
      text-transform: capitalize;
      margin-top: 24px;
      text-align: center;
    }
  }
  .about-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    &__image {
      img {
        width: 100%;
      }
    }
    &__details {
      position: relative;
      margin-right: 40px;
      text-align: left;
    }
    &__title {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      margin-bottom: 25px;
      text-align: center;
      margin-top: 25px;
      h1 {
        font-size: 36px;
      }
    }
    &__paragraph {
      margin-bottom: 40px;
      p {
        font-size: 15px;
        font-family: "Lato", sans-serif;
      }
    }
    &__autograph {
      font-size: 32px;
      font-family: "Monsieur La Doulaise", cursive;
      text-transform: capitalize;
      margin-bottom: 25px;
      text-align: center;
    }
  }
}

.widget__themename_about_widget.home {
  .about,
  .about-parallax,
  .about-social,
  .about-grid {
    margin: 40px 0;
    &__inner {
      margin: 0 25px;
      width: calc(100% - 50px);

      @media (min-width: 768px) {
        width: 720px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1024px) {
        width: 940px;
      }

      @media (min-width: 1200px) {
        width: 1170px;
      }
    }

    &__details {
      @media (min-width: 768px) {
        align-self: center;
      }
    }

    &__desc {
      @media (min-width: 768px) {
        margin-top: 60px;
      }
    }

    &__autograph {
      @media (min-width: 768px) {
        margin-top: 40px;
      }
    }
  }
  .about-grid {
    &__inner {
      @media (min-width: 768px) {
        grid-gap: 30px;
      }
    }
    &__details {
      place-items: center;
    }
    &__title {
      @media (min-width: 768px) {
        margin-top: 0;
        text-align: left;
        width: 75%;
        h1 {
          font-size: 60px;
        }
      }
    }
    &__autograph {
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }
  .about-parallax {
    &__image {
      @media (min-width: 768px) {
        height: 400px;
        width: 100%;
        clip-path: polygon(0 0, 80% 0, 100% 30%, 50% 100%, 0 100%);
      }
      @media (min-width: 1024px) {
        height: 520px;
      }
    }
    @media (min-width: 768px) {
      &__name {
        font-size: 24px;
      }

      &__label {
        font-size: 18px;
      }

      &__desc {
        font-size: 20px;
      }

      &__autograph {
        font-size: 48px;
      }
    }
  }
  .about {
    &__image {
      @media (min-width: 768px) {
        height: 400px;
        width: 100%;
        order: 2;
      }

      @media (min-width: 1024px) {
        height: 520px;
        width: 80%;
        margin-right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 60%);
      }
    }
  }
  .about-social {
    &__inner {
      @media (min-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    &__image-wrap {
      width: 100%;
      position: relative;
      height: 150px;
      background-position: center center;
      background-size: cover;
      margin-bottom: 60px;
    }

    &__image {
      clip-path: unset;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%, 50%);
      bottom: 0;
      left: 50%;
      position: absolute;
      border: 3px solid #fff;
    }

    @media (min-width: 481px) {
      &__image-wrap {
        height: 250px;
        margin-bottom: 75px;
      }

      &__image {
        width: 150px;
        height: 150px;
      }
    }

    @media (min-width: 1024px) {
      &__image-wrap {
        height: 300px;
        margin-bottom: 100px;
      }

      &__image {
        width: 180px;
        height: 180px;
      }
    }

    @media (min-width: 1200px) {
      &__image-wrap {
        margin-bottom: 120px;
      }

      &__image {
        width: 200px;
        height: 200px;
      }

      &__name {
        font-size: 20px;
      }

      &__label {
        font-size: 15px;
      }

      &__desc {
        font-size: 18px;
        margin-top: 40px;
      }

      &__autograph {
        font-size: 40px;
      }
    }
  }
}

.widget__themename_about_widget.sidebar {
  .about,
  .about-parallax,
  .about-social {
    padding-bottom: 50px;
    background: transparent !important;
  }
  .about-social {
    &__image-wrap {
      width: 100%;
      position: relative;
      height: 150px;
      background-position: center center;
      background-size: cover;
      margin-bottom: 60px;
    }

    &__image {
      clip-path: unset;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%, 50%);
      bottom: 0;
      left: 50%;
      position: absolute;
      border: 3px solid #fff;
    }

    @media (min-width: 481px) and (max-width: 1023px) {
      &__image-wrap {
        height: 250px;
        margin-bottom: 75px;
      }

      &__image {
        width: 150px;
        height: 150px;
      }
    }

    @media (min-width: 1024px) {
      &__image-wrap {
        width: 300px;
      }
    }
  }
}
