.close {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 1px;
    background-color: #333;
    top: 0;
    right: 8px;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 1px;
    background-color: #333;
    top: 0;
    right: 8px;
    transform: rotate(-45deg);
  }

  &--popup {
    position: fixed;
    bottom: 25vh;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 30px;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &::before,
    &::after {
      background-color: #fff;
    }
  }
}
