.comment {
  padding: 20px 0;

  &__input-wrapper {
    display: flex;
  }

  &__input {
    width: 50%;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .form-control--comment {
    height: 40px;
  }
  .form-control {
    font-size: 16px;
    width: 100%;
  }

  &__label {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &__textarea {
    width: 100%;
    border: 1px solid #eaeaea;
  }

  &__btn {
    margin: 15px 0;
  }
}

.comment-wrapper {
  padding-left: 100px;
  border-top: 1px solid #eaeaea;
}
