.pages {
  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__header-wrap {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__header {
    width: 100%;
    margin: 0px 15px;

    @media (min-width: 768px) {
      width: 720px;
      margin: 0px auto;
    }

    @media (min-width: 1024px) {
      width: 940px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }

    &--1 {
      padding: 60px 40px;
    }

    &--2 {
      padding: 100px 40px;
    }

    &__titles {
      display: flex;
      align-items: center;

      &--overlay {
        display: inline-flex;
        background: #fff;
        padding: 0 25px;
        align-items: center;
      }

      &--3 {
        flex-direction: column;
      }
    }

    &__title {
      margin-left: 18px;
      h2 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }

      &--3 {
        margin: 0;
        h2 {
          font-size: 60px;
          color: #fff;
        }
      }

      &--2 {
        h2 {
          color: #fff;
        }
      }

      &--overlay {
        h2 {
          font-size: 48px;
          color: $color-hover;
        }
      }
    }

    &__subtitle {
      h5 {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
      }

      &--1 {
        margin-bottom: 20px;
      }

      &--2 {
        h5 {
          color: #fff;
          opacity: 1;
        }
      }

      &--overlay {
        h5 {
          font-size: 20px;
        }
      }

      &--3 {
        margin-bottom: 12px;
        h5 {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
