.pagination {
  position: relative;
  display: inline-block;
  margin: 25px 0;

  .screen-reader-text {
    visibility: hidden;
  }

  .nav-links {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
  }

  .page-numbers {
    line-height: 36px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 0 12px;
    cursor: pointer;
    color: inherit;
    &:not(:last-child) {
      border-right: 1px solid #d9d9d9;
    }
    &:hover {
      color: #f78104;
    }
  }

  .page-numbers.current {
    background-color: #f78104;
    color: #fff;
  }
}
.pagination-wrap {
  grid-column: 1/3;
}

.pagination-wrap.separated {
  .pagination {
    .nav-links {
      border: none;
      .page-numbers {
        &:not(:last-child) {
          margin-right: 6px;
        }
        border-right: none;
        padding: 0 15px;
      }
    }
  }
}

.pagination-wrap.separated.round {
  .pagination {
    .nav-links {
      .page-numbers {
        border-radius: 50%;
      }
      .page-numbers.current {
        background-color: #f78104;
        color: #fff;
      }
    }
  }
}

.pagination-wrap.align-center {
  text-align: center;
}

.pagination-wrap.align-right {
  text-align: right;
}
