.section-title {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 25px;
  letter-spacing: 3px;
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #d9d9d9;
    width: 500px;
    top: 50%;
    margin: 0 15px;
  }

  &::after {
    left: 100%;
  }

  &::before {
    right: 100%;
  }
}

.sidebar,
.footer {
  &__title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;

    &--default {
      border-bottom: 1px solid $color-hover;

      h2 {
        font-weight: 500;
        display: inline-block;
        line-height: 30px;
        padding: 0 15px;
        background: $color-hover;
        color: #fff;
        font-size: 14px;
      }
    }

    &--line {
      overflow: hidden;
      position: relative;

      h2 {
        background: transparent;
        color: #000;
        font-weight: 400;
        margin-right: 15px;
        font-size: 14px;

        &::after {
          content: "";
          width: 100%;
          position: absolute;
          background: #eaeaea;
          bottom: 0px;
          margin-left: 10px;
          z-index: 0;
          height: 1px;
        }
      }
    }

    &--dual-line {
      overflow: hidden;
      position: relative;
      text-align: center;

      h2 {
        background: transparent;
        color: #000;
        font-weight: 400;
        margin-right: 15px;
        font-size: 14px;
        display: inline-block;
        position: relative;

        &::before,
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          background: #eaeaea;
          top: 50%;
          z-index: 0;
          height: 1px;
        }
        &::before {
          margin-left: 10px;
          left: 100%;
        }

        &::after {
          margin-right: 10px;
          right: 100%;
        }
      }
    }
  }
}

.footer {
  &__title {
    &--line {
      h2 {
        color: #fff;
      }
    }

    &--dual-line {
      h2 {
        color: #fff;
      }
    }
  }
}

.widget.sidebar {
  // ----underline----
  // .widgettitle {
  //   padding: 20px 0;
  //   border-top: 1px solid #eaeaea;
  //   text-transform: uppercase;
  //   letter-spacing: 1px;
  //   font-family: "Karla", sans-serif;
  //   text-align: center;
  //   font-size: 14px;
  //   font-weight: 400;
  // }

  // ----block----
  // .widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   text-align: center;
  //   width: 100%;
  //   background-color: #000;
  //   color: #fff;
  //   text-transform: uppercase;
  //   font-size: 14px;
  //   font-weight: 400;
  //   line-height: 45px;
  // }

  // ----block 2 ----
  // .widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   text-align: center;
  //   width: 100%;
  //   background-color: transparent;
  //   border: 1px solid #f87104;
  //   color: #000;
  //   text-transform: uppercase;
  //   font-size: 14px;
  //   font-weight: 400;
  //   line-height: 45px;
  // }

  // ----Border Bottom Dark Partial----
  // .widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   text-align: left;
  //   width: 100%;
  //   color: #000;
  //   text-transform: uppercase;
  //   border-bottom: 2px solid #f2f2f2;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 45px;
  //   position: relative;
  //   display: inline-block;
  //   font-weight: 700;
  //   &::after {
  //     content: "";
  //     height: 2px;
  //     width: 100%;
  //     background-color: #000;
  //     position: absolute;
  //     bottom: -2px;
  //     left: 0;
  //   }
  // }

  // ---- Text in center with line on both side ----
  // .widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   text-align: center;
  //   color: #000;
  //   text-transform: uppercase;
  //   font-size: 16px;
  //   font-weight: 700;
  //   position: relative;
  //   display: inline-block;
  //   font-weight: 700;
  //   padding: 0 15px;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 2px;
  //     top: 50%;
  //     background-color: #000;
  //     right: 100%;
  //   }
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 2px;
  //     top: 50%;
  //     background-color: #000;
  //     left: 100%;
  //   }
  // }

  // ---- Short Border Bottom ----
  // h2.widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   width: 100%;
  //   color: #000;
  //   text-transform: uppercase;
  //   overflow: hidden;
  //   position: relative;
  //   text-align: center;
  //   font-size: 16px;
  //   font-weight: 700;
  //   display: inline-block;
  //   font-weight: 700;
  //   padding-top: 25px;

  //   &::before {
  //     content: "";
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 50%;
  //     height: 3px;
  //     width: 55px;
  //     border-radius: 5px;
  //     background-color: #333;
  //     transform: translateX(-50%);
  //   }
  // }

  // ---- Block Design With Arrow Bottom ----
  h2.widgettitle {
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
    &::after {
      content: "";
      border-top: 5px solid #000;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  //---- Left Side Color Border ----
  // h2.widgettitle {
  //   margin-bottom: 25px;
  //   font-family: "Barlow", sans-serif;
  //   text-align: left;
  //   width: 100%;
  //   color: #000;
  //   text-transform: uppercase;
  //   overflow: hidden;
  //   position: relative;
  //   font-size: 18px;
  //   font-weight: 700;
  //   display: inline-block;
  //   padding-left: 15px;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 1px;
  //     top: 50%;
  //     background-color: #eaeaea;
  //     margin-left: 15px;
  //   }

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     width: 4px;
  //     height: 20px;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     left: 0;
  //     background-color: #f87104;
  //   }
  // }
}
