.sidebar-wrap {
  width: 100%;
  margin: 0 15px;
  position: relative;

  @media (min-width: 768px) {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1024px) {
    width: 300px;
    margin-left: 15px;
  }
}

aside {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.sidebar-sticky {
  margin-bottom: 20px;
  position: sticky;
  left: 0;
  top: 100px;
}
