.top-bar {
  height: 35px;
  border-bottom: 1px solid $color-border;
  color: $color-font;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  &__text {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .top-bar {
    &__address {
      display: none;
    }
  }
}

.top-menu {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: -15px;
  .menu-item {
    position: relative;
    padding: 0 15px;
    a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
      white-space: nowrap;
      font-family: inherit;
      display: flex;
      align-items: center;
      line-height: inherit;
      position: relative;
      letter-spacing: inherit;
    }
  }
}
